.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.project-section{
    display: flex;
    justify-content: start;
    color: #ffffff;
    width: 100vw;
}
.project-card{
    border: 1px solid #ffffff;
}