body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}
.about {
  color: #ffffff;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 50px 50px 0 100px;
  width: 100vw;
}

.about-profile {
  display: flex;
  color: #d1d5db;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
  max-width: 500px;
}

.my-profile-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.2);
}
.my-profile-photo:hover {
  width: 350px;
  height: 350px;
  transition: all 0.3s ease;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.2);
}
.about-content {
  background-color: rgba(255, 255, 255, 0.171);
  border: 1px solid rgba(255, 255, 255, 0.1); 
  box-shadow: 0 5px 50px rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  width: 700px;
  height: 500px;
}

.content-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 0 0 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.red-dot {
  width: 15px;
  height: 15px;
  background-color: rgb(244, 86, 86);
  border-radius: 50%;
  display: inline-block;
}
.yellow-dot {
  width: 15px;
  height: 15px;
  background-color: rgb(247, 194, 3);
  border-radius: 50%;
  display: inline-block;
}
.green-dot {
  width: 15px;
  height: 15px;
  background-color: rgb(11, 201, 90);
  border-radius: 50%;
  display: inline-block;
}
.file-name {
  font-family: "Roboto Mono", monospace;
  font-size: large;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 0 0 20px;
  align-items: center;
  font-weight: 600;
}
.content-details {
  padding: 0 0 0 0;
  overflow-x: scroll;
}
pre {
  font-size: x-large;
}

@media (max-width: 786px) {
  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px 10px 0 10px;
    gap: 20px;
  }
  .about-content {
    width: 90vw;
    height: 350px;
  }
  .content-details pre {
    font-size: 15px;
  }
  .about-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px 24px 0 20px;
  }
  .my-profile-photo {
    width: 200px;
    height: 200px;
  }
  .my-profile-photo:hover {
  width: 250px;
  height: 250px;
  transition: all 0.3s ease;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.2);
}
}
