.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-section{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-body a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 470px;
}
.contact-form label{
    display: flex;
    flex-direction: column;
    gap:10px;
    font-size: larger;    
}
.contact-form input,textarea{
    border: none;
    font-size: large;
    color: rgb(255, 255, 255);
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;

}
.user_details{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20%;
}
.submit-btn{
    border: 1px solid rgba(255, 255, 255, 0.334);
    padding: 15px;
    width: 150px;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
}
.form_btn{
    display: flex;
    justify-content: end;
}
.icons{
    margin-top: 20%;
    display: flex;
    gap:20px
}
.icons a{
    font-size: x-large;
}

@media (max-width: 768px){
    .contact-form{
        width: 90vw;
    }
    .user_details{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}